body {
  width: 200px;
  height: 200px;
}

.logo {
  max-width: 100%;
}
.button {
  display: block;
  width: 100%;
  padding: 15px 30px;
  background-color: #4e9525;
  color: white;
  border-radius: 0;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}
.button:focus {
  outline: none;
}
.button.inactive {
  background-color: #f95959;
}
